.navbar .burger-label {
    display: block;
    width: var(--burger-width);
    height: 24px;
    position: relative;
    cursor: pointer;
  }
  
  .navbar .burger-label:before {
    content: "";
    box-shadow: 0 5px 0 0 black,
      0 12px 0 0 black,
      0 19px 0 0 black;
    width: var(--burger-width);
    height: 3px;
    position: absolute;
  }
  
  #burger-checkbox {
    width: 25px;
    height: 25px;
    margin: 0;
    display: none;
  }
  
  #burger-checkbox:checked~.navbar-list {
    display: flex;
  }