.navbar {
    height: var(--navbar-size);
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 1rem;
    z-index: 9999;
}

.navbar .logo {
    flex: 1;
    display: flex;
    justify-content: left;
    padding-left: var(--burger-width);
}

/* burger menu */

.navbar .burger-label {
    display: block;
    width: var(--burger-width);
    height: 24px;
    position: relative;
    cursor: pointer;
}

.navbar .burger-label:before {
    content: "";
    box-shadow: 0 5px 0 0 white,
        0 12px 0 0 white,
        0 19px 0 0 white;
    width: var(--burger-width);
    height: 2px;
    position: absolute;

}

#burger-checkbox {
    width: 25px;
    height: 25px;
    margin: 0;
    display: none;
}

#burger-checkbox:checked~.navbar-list {
    display: flex;
}

/* menu de opciones */

.navbar-list {
    margin: 0;
    width: 200px;
    background-color: grey;
    color: white;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: var(--navbar-size);
    left: 0;
    height: calc(100vh - var(--navbar-size));
    display: none;
    flex-direction: column;

}

.navbar-list .navbar-item {
    text-align: center;
}

.navbar-list a {
    padding: 1rem 0;
    width: 100%;
    display: inline-block;
}

/* barra del buscador */

.icon img{
    height: 10rem;
}

.buscador {
    color: white;
    background-color: black;
    border: solid .5px red;
    border-radius: .2rem;
    opacity: .8;
    margin-top: 17px;
    margin-left: 5px;
}

@media (min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
    }
    
    .navbar-list {
        position: relative;
        top: 0%;
        display: flex;
        flex-direction: row;
        max-height: var(--navbar-size);
        min-width: 50%;
        background-color: transparent;
        justify-content: space-around;
    }

    .navbar-item> a:hover {
        color: red;
    }

}